<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schedule Login</title>
</head>
<body>
<div align="center">
    <h1>Login</h1>
    <form action="submit" method="POST">{% csrf_token %}

        <label>User:</label>
        <input type="text" name="username">
        <label>Password:</label>
        <input type="password" name="password">
        <button type="submit">Enter</button>

    </form>
    {% for message in messages %}
    <strong>Error: </strong>{{message}}
    {% endfor %}
</div>
</body>
</html>